{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">

    <h1>{{ .Title }}</h1>
    <p class="talk-event">
    {{ if .Params.talk_date }}
        {{ if le .Params.talk_date .Now }}Presented{{ else }}Presenting{{ end }} at
        {{ if .Params.event_url }}
            <a href="{{ .Params.event_url }}">{{ .Params.event }}</a>
        {{ else }}
            {{ .Params.event }}
        {{ end }}
        on <time datetime="{{ .Params.talk_date }}">{{ .Params.talk_date |  dateFormat "2006-01-02" }}</time></p>
    {{ end }}

    {{ if .Params.abstract }}
    <h2>Abstract</h2>
    <details>
        <summary>{{ .Params.abstract_summary }}</summary>
        <p>somethign</p>
    </details>
    {{ end }}

    {{ if .Params.url_video }}
    <h2>Video</h2>
    {{ .Params.url_video }}
    {{ end }}

    {{ if .Params.url_slides }}
    <h2>Slides</h2>
    {{ .Params.url_slides }}
    {{ end }}

    {{ if .Content }}
    <h2>Notes</h2>
    <div class="post">
        {{ .Content }}
    </div>
    {{ end }}
    
    {{ partial "section_item_pager.html" . }}

    {{ partial "footer_container.html" . }}

 </div>
{{ partial "footer.html" . }}
