{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">

    <h1>{{ .Title }}</h1>
    <p class="talk-event">
    {{ if .Params.event_date }}
        {{ if le .Params.event_date .Now }}Presented{{ else }}Presenting{{ end }} at
        {{ if .Params.event_url }}
            <a href="{{ .Params.event_url }}">{{ .Params.event }}</a>
        {{ else }}
            {{ .Params.event }}
        {{ end }}
        on <time datetime="{{ .Params.event_date }}">{{ .Params.event_date |  dateFormat "2006-01-02" }}</time></p>
    {{ end }}

    {{ if .Params.abstract }}
    <h2>Abstract</h2>
        {{ .Params.abstract | markdownify }}
    </details>
    {{ end }}

    {{ if .Params.video_youtube_id }}
    <h2>Video</h2>
    {{ partial "youtube.html" . }}
    {{ end }}

    {{ if .Params.slides_speakerdeck_id }}
    <h2>Slides</h2>
    {{ partial "speakerdeck.html" . }}
    {{ end }}

    {{ if .Params.code }}
    <h2>Code</h2>
    {{ .Params.code | markdownify}}
    {{ end }}

    {{ if .Content }}
    <h2>Notes</h2>
    <div class="post">
        {{ .Content }}
    </div>
    {{ end }}
    
    {{ partial "section_item_pager.html" . }}

    {{ partial "footer_container.html" . }}

 </div>
{{ partial "footer.html" . }}
